html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}

.auth {
  text-align: center;
  height: calc(100% - 80px);
}

.not-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.routes {
  overflow-y: auto;
  height: 100%;
}

