.MedicalListContainer1 {
  background-color: lightgray;
  padding: 10px;
  overflow-y: auto;
}

.medicalIssueItem {
  width: 100%;
  background-color: white;
  height: 70px;
  margin-top: 5px;
}

.medicalIssueItem:hover {
  background-color: #fff4e0;
}

.medicalIssueItemLeft {
  text-align: left;
  font-size: 20px;
}

.medicalIssueItemRight {
  text-align: right;
  font-size: 20px;
}

.closed1 {
  display: inline;
  padding-right: 10px;
}

.closed2 {
  display: inline;
}

.addIssueButton {
  margin-top: 10px;
  width: 50%;
  border-width: 0;
  color: black;
  font-size: 20px;
}

.addIssueButton:hover {
  background-color: #fada9e;
}
