.navbar {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border-top: 10px solid #b82424;
  border-bottom: 5px solid #eaac35;
}

.navbar .logo {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.navbar .logo img {
  height: 90%;
}

.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

.navbar a {
  color: #b82424;
  font-size: 20px;
  text-decoration: none;
  margin: 20px;
}

.navbar .links button {
  background-color: transparent;
  border: none;
  color: #b82424;
  cursor: pointer;
}
